<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/header', {'page': page}) %>
<link rel="stylesheet" href="/css/tag-editor.css"/>
<script type="text/javascript" src="/js/tag-editor.js"></script>

 <script>
$(document).ready(function() {
	const params = {
			"delimiters": ["Comma","Enter","NumpadEnter"]
			// entering any of the "delimiters" while typing will end the current tag data entry
			// any valid event.code can be a delimiter for ex "Space", "Escape"
			// https://keycode.info/
	};
	
	setupTagEditor(params);
	
	// optional dynamic width detection will change the 'hit width' of the remove button if you have changed the font size or other style cues
	try {
		const dynamicRemoveButtonWidthDetect = $("#widthDetectTag")[0].offsetWidth;
		if (dynamicRemoveButtonWidthDetect > window.globalTagEditorRemoveButtonWidth) {
			window.globalTagEditorRemoveButtonWidth = dynamicRemoveButtonWidthDetect;
		}
	} catch (error) {
		console.error(error);
	}
	
	$("#widthDetectTag").remove();

  <% if (errorMsg.length > 0) { %>
    $("#errorbox").show();
  <% } %>
});
 </script>

</head>
<body>
 <%- include('partials/mainmenu', {'active':'edit','gallery':gallery}) %>
<div class="container">
    <div class="alert alert-warning" role="alert" style="display:none;">
      <%=errorMsg%>
    </div>
<%- include('partials/editbox') %>

  <div style="display:none;">
  <p class="text-left"><h2><%=result.title%></h2></p>
  <div class="row">
    <div class="col-sm-6 border">
       <% if ("thumbnail" in result) { %>
         <img class="w-100 h-100" src="<%=result.thumbnail%>"/>
       <% } else { %>
         <img class="w-100 h-100" src="/images/No_image_available.svg"/>
       <% } %>
    </div>
    <div class="col-sm-6">
      <%- include('partials/optionaldisplayfields',{'values':result.optionalFields}) %>
    </div>
  </div>
  <hr/>
  <div>
    <h3>Description</h3>
    <p class="text-left"><%=result.description%></p>
  </div>
  
  </div>
</div>
</body>
</html>