<!DOCTYPE html>
<html lang="en">
<head>
 <%- include('partials/header', {'page': page}) %>
<script type="text/javascript" src="/js/jquery.simplePagination.js"></script>
<link rel="stylesheet" href="/css/tag-editor.css"/>
<script type="text/javascript" src="/js/tag-editor.js"></script>
<%
  let searchPage = params["searchPage"];
  if (searchPage==null || searchPage==undefined) searchPage = "1";
%>
<script>
$( document ).ready(function() {
    $("#pagination").pagination({
        items: '<%=searchResults["count"]%>',
        itemsOnPage: <%=config.itemsPerPage%>,
        cssStyle: 'light-theme',
        currentPage: '<%=searchPage%>',
        onPageClick: function (pageNum) {
        	$('input[name="searchPage"]').val(pageNum);
        	document.forms[0].submit();
        }
    });
    
    	const params = {
			"delimiters": ["Comma","Enter","NumpadEnter"]
			// entering any of the "delimiters" while typing will end the current tag data entry
			// any valid event.code can be a delimiter for ex "Space", "Escape"
			// https://keycode.info/
	};
	
	setupTagEditor(params);
	
	// optional dynamic width detection will change the 'hit width' of the remove button if you have changed the font size or other style cues
	try {
		const dynamicRemoveButtonWidthDetect = $("#widthDetectTag")[0].offsetWidth;
		if (dynamicRemoveButtonWidthDetect > window.globalTagEditorRemoveButtonWidth) {
			window.globalTagEditorRemoveButtonWidth = dynamicRemoveButtonWidthDetect;
		}
	} catch (error) {
		console.error(error);
	}
	
	$("#widthDetectTag").remove();

  <% if (errorMsg.length > 0) { %>
    $("#errorbox").show();
  <% } %>
});
</script>
</head>
<body>
 <%- include('partials/mainmenu') %>
<div class="container">
   <div class="alert alert-warning" role="alert" style="display:none;">
      <%=errorMsg%>
   </div>
<% if (searchResults.count > 0) { %>
<p class="pt-2">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
    Refine Search
  </button>
</p>
<div class="collapse" id="collapseSearch">
<% } %>
<%- include('partials/searchbox', {'optionalFields':optionalFields,'values':searchParams}) %>
<% if (searchResults.count > 0) { %>
</div>
<div class="row">
    <div class="col d-flex justify-content-end">
      <div class="pagination" id="pagination"></div>
    </div>
</div>
<div class="row">
  <% for (let x=0;x<searchResults.data.length;x++) {
       let result = searchResults.data[x]; %>
     <% if (x>1 && x%6==0) { %> </div><div class="row pt-4"> <% } %>
     <div class="col-2 border">
     <p>
       <% if ("thumbnail" in result) { %>
         <a href="/view?id=<%=result._id%>"><img class="w-100 h-100" src="/image?id=<%=result.thumbnail%>"/></a>
       <% } else { %>
         <a href="/view?id=<%=result._id%>"><img class="w-100 h-100" src="/images/No_image_available.svg"/></a>
       <% } %>
       <font size="-1"><%=result.title%></font></p>
     </div>
  <% } %>
</div>
<% } %>
</div>
</body>
</html>